# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = tab
indent_size = 5
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# Matches multiple files with brace expansion notation
# Set default charset
[*.{yml,yaml}]
indent_style = space
indent_size = 2
